{% extends 'physician/physician_dashboard.html' %}
{% block  content%}
<ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#x-ray">Urine Analysis Request Form</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ultrasound">Stool Examination Request Form </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#mri">Heamatology Lab Request Form</a></li>

            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane" id="x-ray">
                    <nav class="sidebar-nav">
                        <div class="row" >
        <div class="col-md-8">
          <div class="card card-primary ">
            <div class="card-header">
              <h5 class="card-title">Urine Analysis Request Form</h5>
            </div>
            <div class="card-body">
              <div class="form-group" >
                  <div>
                <label>Urine Chemical test</label>
                                    <br/>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.albumine}}
                                        <span>Albumine</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.blood}}
                                        <span>Blood</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.leukocyte}}
                                        <span>Leukocyte</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.glucose}}
                                        <span>Glucose</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.ph}}
                                        <span>PH</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.nitrate}}
                                        <span>Nitrate</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.urbilonogen}}
                                        <span>Urbilonogen</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.ketone}}
                                        <span>Ketone</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.bilirubin}}
                                        <span>Bilirubin</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.specific_gravity}}
                                        <span>Specific Gravity</span>
                                    </label>

                  </div>
                  <div>
                  <label>Urine Microscopic Test</label>
                      <div>
                      <label> Cell</label>
                          <br>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.mleukocytes}}
                                        <span>Leukocytes</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.erythrocytes}}
                                        <span>Erythrocytes</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.yeast}}
                                        <span>Yeast</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.bacteria}}
                                        <span>Bacteria</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.squamous_epithelial_cells}}
                                        <span>Squamous epithelial cells</span>
                                    </label>
                          <br>
                          <label> Casts</label>
                          <br>
                          <label class="fancy-checkbox">
                                         {{urine_analysis.hyaline_casts}}
                                        <span>Hyaline Casts</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                         {{urine_analysis.granular_cast}}
                                        <span>Granular Cast</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                         {{urine_analysis.wbc_cast}}
                                        <span>WBC Cast</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.rbc_ast}}>
                                        <span>RBC Cast</span>
                                    </label>
                          <br>
                          <label> Casts</label>
                          <br>
                          <label class="fancy-checkbox">
                                        {{urine_analysis.uric_acid}}
                                        <span>Uric Acid</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.calcium_oxalate}}
                                        <span>Calcium Oxalate</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{urine_analysis.triplate_phosphate}}
                                        <span>Triplate phosphate</span>
                                    </label>

                      </div>
                  </div>

              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#" class="btn btn-danger">Cancel</a>
          <input type="submit" value="Send Request" class="btn btn-success float-right">
        </div>
      </div>
    </nav>
</div>
                <div class="tab-pane p-l-15 p-r-15" id="ultrasound">
                    <div class="row" >
        <div class="col-md-8">
          <div class="card card-primary ">
            <div class="card-header">
              <h5 class="card-title">Stool Examination Request Form</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                                    <label>Microscopic Examinaions</label>
                                    <br/>
                                    <label class="fancy-checkbox">
                                        {{stool.parasites}}
                                        <span>Parasites</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{stool.puss_cell}}
                                        <span>Puss Cell</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{stool.red_blood_cell}}
                                        <span>Red Blood Cell</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{stool.yeast_cell}}
                                        <span>Yeast Cell</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{stool.obt}}
                                        <span>Occult Blood Test(OBT)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{stool.Hpylori_test}}
                                        <span>H.pylori Stool Ag test</span>
                                    </label>
                                    <p id="error-checkbox"></p>
                                </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input type="button" href="#" class="btn btn-danger" value="Cancel">
          <input type="submit" value="Send Request" class="btn btn-success float-right">
        </div>
      </div>
                </div>
                <div class="tab-pane p-l-15 p-r-15" id="mri">
                    <div class="row" >
        <div class="col-md-8">
          <div class="card card-primary ">
            <div class="card-header">
              <h5 class="card-title">Hematology Lab Request Form</h5>
            </div>
            <div class="card-body">
              <div class="form-group" >
                <label>Hematology Examinaions</label>
                                    <br/>
                                    <div class="text-primary">
                                    <label class="fancy-checkbox">
                                        {{hematology.cbc}}
                                        <span>CBC</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.bc}}
                                        <span>BC</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.twc}}
                                        <span>TWC</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.differntial}}
                                        <span>Differntial</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.neutrophil}}
                                        <span>Neutrophil(%)</span>
                                    </label>
                                    </div>
                                    <br>
                                    <div class="text-success" >
                                    <label class="fancy-checkbox">
                                        {{hematology.eosinophil}}
                                        <span>Eosinophil(%)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.basophiles}}
                                        <span>Basophiles(%)</span>
                                    </label>

                                    <label class="fancy-checkbox">
                                        {{hematology.monocyt}}
                                        <span>Monocyt(g/dl)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.hemoglobin}}
                                        <span>Hemoglobin(%)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.hemotcrit}}
                                        <span>Hemotcrit(ft)</span>
                                    </label>
                                    </div>
                                    <br>
                                    <div class="text-warning">
                                    <label class="fancy-checkbox">
                                        {{hematology.mcv}}
                                        <span>MCV</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.mch}}
                                        <span>MCH(pg)</span>
                                    </label>

                                    <label class="fancy-checkbox">
                                        {{hematology.mchc}}
                                        <span>MCHC(pg)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.rbc}}
                                        <span>RBC(cell/mm)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.rbc_morphology}}}}
                                        <span>RBC Morphology</span>
                                    </label>
                                    </div>
                                    <br>
                                    <div class="text-danger">
                                    <label class="fancy-checkbox">
                                        {{hematology.platlet_count}}
                                        <span>Platelet Count(*10^2)</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.esr}}
                                        <span>ESR(mm/hr)</span>
                                    </label>

                                    <label class="fancy-checkbox">
                                        <{{hematology.bleeding_time_test}}
                                        <span>Bleeding Time Test</span>
                                    </label>


                                    <label class="fancy-checkbox">
                                        {{hematology.clot_reaction}}
                                        <span>Clot Reaction</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.coagulation_time}}
                                        <span>Coagulation Time</span>
                                    </label>
                                    </div>
                                    <br>
                                    <div class="text-info">
                                    <label class="fancy-checkbox">
                                        {{hematology.prothromin_time}}
                                        <span>Prothromin Time</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.p_t_t}}
                                        <span>P.T.T</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.fbs_rbs}}
                                        <span>FBS/RBS</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.blood_group}}
                                        <span>Blood Group</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.fibrinogen}}
                                        <span>Fibrinogen</span>
                                    </label>
                                    </div>
                                    <br>
                                    <div class="text-secondary">
                                    <label class="fancy-checkbox">
                                        {{hematology.coomos_test}}
                                        <span>Coomos Test</span>
                                    </label>
                                    <label class="fancy-checkbox">
                                        {{hematology.cd4}}
                                        <span>CD4(absolute cell/ul)</span>
                                    </label>
                                        </div>
                                </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#" class="btn btn-danger">Cancel</a>
          <input type="submit" value="Send Request" class="btn btn-success float-right">
        </div>
      </div>
                </div>
                <div class="tab-pane p-l-15 p-r-15" id="city_scan">
                    <div class="row" >
        <div class="col-md-8">
          <div class="card card-primary ">
            <div class="card-header">
              <h3 class="card-title">City Scan Request Form</h3>
            </div>
            <div class="card-body">
              <div class="form-group" >
                <label for="inputName">User Name</label>
                <input type="text" id="inputName" class="form-control" class="col-md-3">
              </div>
              <div class="form-group">
                <label for="inputDescription">Drug Name , Dosage Form , Frequency, Duration, Quantity, Route of administeration and other information </label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="#" class="btn btn-danger">Cancel</a>
          <input type="submit" value="Attach" class="btn btn-success float-right">
        </div>
      </div>           
            </div> 
    <!-- /.content 



{% endblock  %}





