<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Page Not Found</h1>
    <p class="lead">Sorry , This Page is missing or does not exist</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'login_url' %}"> Goto Our Landing Page </a>
</div>

</body>
</html>